#imgHeader {
  width: 170px;
}

#homePage {
  background-image: url('../../Images/index-image.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

body, html {
  margin: 0px;
  width: 100%;
}

#headerComponent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}

.headerTitles {
  font-family: RobotoRegular;
  color: #FFF;
  text-decoration: none;
}

.headerTitles:hover {
  text-decoration: underline;
}

#linksHeader {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}

#linksHeader li::marker {
  list-style-position:inside;
  margin:0 !important;
  padding:0;
  color: #FFF;
  margin: none !important;
}

#TitlesHome {
  color: #FFF;
  margin-top: 13%;
  margin-left: 25%;
}

 /* IMPLEMENTAR FONTEEE */

@font-face {
  font-family: HelveticaUltra;
  src: url('../../Fonts/helvetica-25-ultra-light.otf') format('opentype');
}

#TitlesHome h1 {
  font-family: HelveticaUltra;
  font-weight: bold;
  font-size: 500%;
  margin: 0px;
  margin-bottom: 10px;
}

#TitlesHome h2 {
  font-family: HelveticaUltra;
  margin: 0px;
  margin-left: 2px;
  font-size: 210%;
}